body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

#header-container {
    width: 100%;
    position: fixed;
    height: 50px;
    background-color: rgba(3, 152, 158,0.7);
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.6);
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #79d875;
    overflow-x: hidden;
    transition: 0.8s;
    padding-top: 60px;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.6);
}

.sidenav a {
    padding: 5px 25px;
    text-decoration: none;
    font-size: 25px;
    color: #03989e;
    display: block;
    transition: 0.3s;
    font-family: "Figtree";
}
  
.sidenav a:hover {
    color: #f1f1f1;
    color: black;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
    margin-left: 50px;
    padding: 4px 20px;
}

.name-sidebar {
    color: #03989e;
}

.open-button {
    position: fixed;  
    right: 0;
    top: 0;
    padding: 8px 20px;
}

.name {
    position: fixed;
    left: 0;
    height: 50px;
    top: 0;
    color: white;
    font-size: 22px;
    padding: 14px;
}

.name a {
    color: white;
    text-decoration: none;
    transition: 0.6s ease-in-out;
}

.name a:hover {
    color: black;
}

.fa-bars {
    color: mintcream;
    transition: 0.5s ease;
}

.fa-bars:hover {
    color: black;
}

.fa-xmark {
    color: black;
    transition: 0.5s ease;
}

.fa-xmark:hover {
    color: #03989e;
}

.logo-container {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.gradient {
    background: #03989e;
    height: 1px;
    max-width: 1200px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.gradient-test {
    background: #03989e;
    height: 1px;
    max-width: 1000px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.logo {
    width: 100%;
    padding: 10px;
    max-width: 1200px;
    justify-content: center;
}

.home-box {
    background-color: rgba(3, 152, 158,0.7);
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.6);
}

.information-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 1000px;
}

.information-container p {
    line-height: 1rem;
}

.email {
    color: black;
}

.email:hover {
    color: white;
}

.fa-address-book {
    color: mintcream;
    padding-left: 5px;
}

.fa-location-dot {
    color: mintcream;
    padding-left: 5px;
}

.fa-magnifying-glass {
    color: mintcream;
    padding-left: 5px;
}

.sub-header {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 0.5rem;
}

.map-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.contact {

}

.location {

}

.map {
    height: 400px;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.6);
    border-radius: 5px;
}

/* .background-grey {
    background-color: red;
} */

#tutoring-section {
    padding: 30px 0;
}   

.tutoring-title {
    text-align: center;
    margin-bottom: 40px;
}

.tutoring-type {
    text-align: center;
    margin-bottom: 0;
    font-size: 30px;
    margin-top: 5px;
    background-color: rgba(3, 158, 86, 0.6);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 30px;
    width: 300px;
    margin: auto;
    transition: 0.5s ease-in-out;
}

.tutoring-type:hover {
    transform: scale(1.1);
}

.fa-chalkboard-user {
    color: #03989e;
}

.tutoring-title h2 {
    margin-bottom: 10px;
    font-size: 35px;
}

.tutoring-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 1.2rem;
    flex-direction: column;
    margin: 0 auto;
    font-family: "Figtree";
}

.tutoring-type ul {
    text-align: center;
    list-style: none;
    padding: 0;
    font-size: 22px;
}

.tutoring-type h4 {
    text-align: center;
    margin-bottom: 0;
    margin-top: 5px;
}

#residential {
    display: flex;
    justify-content: center;
}

#residential h4 {
    text-align: center;
    margin-bottom: 0;
}

#testimonials {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 1200px;
    margin: auto;
    padding: 30px 0;
}

.testimonials-title h2 {
    font-size: 35px;
}

.fa-comments {
    color: #03989e;
}

.testimonials-body {
    padding: 10px 0;
}

.testimonials-container {
    padding: 0 20px;
    text-align: left;
}

.testimonials-name {
    border-left: 1px solid rgba(3, 152, 158, 0);
    padding-left: 10px;
    transition: 0.5s ease-in-out;
}

.testimonials-name:hover {
    border-left: 1px solid rgba(3, 152, 158, 1);
}

.testimonials-name h4 {
    margin: 0;
    font-style: italic;
}

.testimonials-content p {
    margin: 0;
    margin-top: 4px;
    font-weight: 200;
}

#programme {
    padding: 30px 0;
}

.programme-title {
    text-align: center;
}

.fa-readme {
    color: #03989e;
}

.days h4 {
    font-weight: bold;
    text-decoration: underline;
    padding: 0 10px;
    text-align: center;
    max-width: 300px;
    margin: auto;
    color: white;
}

.programme-container {
    display: flex;
    flex-direction: column;
}

.programme-inner {
    background-color: rgba(3, 152, 158,0.7);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 400px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.programme-title h2 {
    font-size: 35px;
}

.programme-content {
    padding: 0 10px;
    text-align: center;
    max-width: 300px;
    margin: auto;
}

.programme-more {
    max-width: 1200px;
    margin: auto;
    padding: 20px 10px 0px 10px;
}

#york {
    padding: 30px 0;
}

.fa-arrows-to-dot {
    color: #03989e;
}

.york-todo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.york-todo h2  {
    font-size: 35px;
}

.york-container {
    padding: 0 10px;
}

.york-container ul {
    line-height: 1.5rem;
}

.york-container a {
    text-decoration: underline;
    color: black;
}

.york-container a:hover {
    color: #03989e;
}

.footer-container {
    flex-direction: column;
    width: 100%;
    background-color: rgba(3, 152, 158,0.7);
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.6);
    display: flex;
}

.footer-content {
    text-align: center;
    color: white;
}

@media screen and (min-width: 600px){
    .programme-container {
        flex-direction: row;
        justify-content: center;
        max-width: 1200px;
        margin: auto;
    }
    .programme-inner {
        flex-direction: row;
        justify-content: center;
        max-width: 1200px;
        margin: auto; 
    }
}

@media screen and (min-width: 750px){
    .information-container {
        flex-direction: row;
        justify-content: center;
        gap: 5rem;
        margin: 0 auto;
    }
    .home-box {
        box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.6);
    }
    .map {
        max-height: 600px;
        box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.6);
    }
}

@media screen and (min-width: 1200px){
    .tutoring-box {
        flex-direction: row;
        max-width: 1200px;
    }
}